<div class="w3-container w3-content w3-padding-64" style="max-width:800px">
  <h2 class="w3-wide w3-center">Login</h2>
  <div class="w3-row w3-padding-32">
    <div class="w3-col w3-left w3-container" style="width:150px"></div>
    <div class="w3-col w3-right w3-container" style="width:150px"></div>
    <div class="w3-rest w3-container ">
      <form>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Email" required name="Message">
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Password" required name="Message">
        <button class="w3-button w3-dark-grey w3-section w3-right" type="submit">SEND</button>
      </form>
    </div>
  </div>
</div>
